.login  { 
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  
  .login .content {
    /*background-color: rgba(1, 95, 50, 0.4);*/
    background-color: transparent;
    color: #999;
  }
  
  .btn-login {
    color: #fff;
    background-color: #01723C;
    border-color: #01723C;
    padding: 10px!important;
    font-size: 16px!important;
  }
  
  .login .content .create-account {
  
    /*background-color: #015F32;*/
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-color: rgba(122, 193, 66, 0.2);
  }
  
  
  .btn-primary {
    color: #fff;
    background-color: #7AC142;
    border-color: #7AC142;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #7AC142;
    border-color: #7AC142;
  }
  
  .btn-primary:focus{
    color: #fff;
    background-color: #7AC142;
    border-color: #7AC142;
  }
  
  
  
  .btn-success {
    color: #fff;
    background-color: #01723C;
    border-color: #01723C;
  }
  
  .btn-success.active, .btn-success:active, .btn-success:hover, .open > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #01723C;
    border-color: #01723C;
  }
  
  .btn.btn-outline.green {
    border-color: #01723C;
    color: #01723C;
    background: none;
  }
  
  .btn.btn-outline.green:hover, .btn.btn-outline.green:active, .btn.btn-outline.green:active:hover, .btn.btn-outline.green:active:focus, .btn.btn-outline.green:focus, .btn.btn-outline.green.active {
    border-color: #01723C;
    color: #FFFFFF;
    background-color: #01723C;
  }
  
  a {
    text-shadow: none;
    color: #7AC142; }
  a:hover {
    color: #588B2E; }
  a:focus, a:hover, a:active {
    outline: 0; }
  
  .btn{
    padding: 12px 14px;
  }
  
  .login .content .form-control {
    background-color: #dde3ec;
    height: 43px;
    color: #000;
    border: 1px solid #dde3ec;
  }